.leaflet-marker-pulsing {
  animation: pulse-opacity 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes pulse-ring {
  0% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.2;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.9);
  }
}

.pulse-ring {
  animation: pulse-ring 2s infinite;
}
